.container{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}
.Gray{
    color: gray;
}
.bg-gradient {
    background: linear-gradient(#BE93C5, #9198e5);
    color: white;
}
.gradient{
    background: linear-gradient(#9198e5 ,#BE93C5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.0);
    color:  #7BC6CC;
}
.container li{
    margin-top: 30px;
}