@page "/Management"

<div class="MainContent">

    <div class="mt-5 headline">
        <h3>継続希望</h3>
    </div>
    <p>
        【実施期間】<br />
        <br />
        実施月の最終、月〜日22:00締め切り<br />
    </p>

    <div class="mt-5 headline">
        <h3>方法</h3>
    </div>
    <p>
        グループLINEにて「継続確認イベント」と入力し投稿する。
    </p>
    <div class="mt-5 headline">
        <h3>フォロー</h3>
    </div>
    <p>
        【 業務連絡 】【 グループ参加継続確認 】<br />
        <br />
        <br />
        下記、メンバーさんは「継続希望」処理ができていません。<br />
        <br />
        <br />
        お心当たりのない方は、リプライ先をご確認いただき、対応をお願いします。<br />
        <br />
        期間中にご対応いただけなかった場合は、実施期間終了後に管理メンバーにより退会大会にご出場いただきます。<br />
        ※期間終了など、再度警告はいたしません。<br />
        <br />
        <br />
        継続を希望しない場合は、スルーしてください。<br />
        <br />
        <br />
        （順不同/敬称略）<br />
        <br />
        ＠<br />
        ＠<br />
        ↓<br />
    </p>
    <div class="mt-5 headline">
        <h3>退会</h3>
    </div>
    <p>
        【業務連絡】<br>
        【グル参加継続確認 退会者】<br>
        <br>
        グループ参加継続の意思確認に、ご協力いただきまして、ありがとうございました。<br>
        <br>
        今回、退会大会に出場される方は以下の通りです。<br>
        (順不同/敬称略)<br>
        <br>
        @@<br>
        @@<br>
        @@<br>
        @@<br>
        <br>
        <br>
        (X名)<br>
        <br>
        これまで沢山のハートを交換してくださってありがとうございました。<br>
        <br>
        では、お元気で…<br>
        ((((o´ω｀o)ﾉ<br>
    </p>
</div>
