@page "/Technology"

<div class="MainContent">

    <div class="mt-5 headline">
        <h3>Blazor WebAssembly</h3>
    </div>
    <p>
        当サイトは Microsoft が開発した、Blazor WebAssembly という技術を使用しています。
        従来であれば Java Script を使用してロジックを記述していましたが、この技術を使用すると C# を使用してロジックを記述することが出来ます。
    </p>
    <a class="btn btn-outline-primary" href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor 公式サイト <span class="oi oi-share-boxed"></span></a>

    <div class="mt-5 headline">
        <h3>GitHub と Github Action と GithubPages</h3>
    </div>
    <p>
        Github とはソフトウェア開発において重要なプラットフォームです。主な機能としてソースコードをホスティングし、バージョンを管理します。そして Github Action を使用して、自動的にサイトが GithubPages にデプロイされるようになっています。
    </p>
    <a class="btn btn-outline-primary" href="https://github.com/rikupin1105/Freedom_Site">当サイトのGithubリポジトリ <span class="oi oi-share-boxed"></span></a>

    <div class="mt-5 headline">
        <h3>LINEbot と Azure Function</h3>
    </div>
    <p>
        入会時や退会時に動作する Bot や継続希望の bot はこれらのサービスを使用しています。
        仕組みは LINEBot で発言やアクションを Azure Function に送信し、(これらの通信は暗号化が使用されています。)
        入会、退会、特定のメッセージを検出し、LineBot を通じて返答を行っています。
    </p>
    <a class="btn btn-outline-primary" href="https://azure.microsoft.com/ja-jp/ ">Microsoft Azure 公式サイト <span class="oi oi-share-boxed"></span></a>
    <a class="btn btn-outline-primary" href="https://developers.line.biz/ja/">LINE Developers 公式サイト <span class="oi oi-share-boxed"></span></a>
</div>
