.MainContent > ol > li {
    margin-top: 30px;
}
.MainContent > .headline {
    border-bottom: 1px solid;
    margin-bottom:30px;
}

.first-wrapper {
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A419E;
}

.square-loader{
    text-align:center;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
}

.square {
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0);
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #fff;
    left: 73px;
    top: 73px;
    position: absolute;
}

.first_square {
    animation: first_square_animate 1s infinite ease-in-out;
}

.second_square {
    animation: second_square 1s forwards, second_square_animate 1s infinite ease-in-out;
}

.third_square {
    animation: third_square 1s forwards, third_square_animate 1s infinite ease-in-out;
}

@keyframes second_square {
    100% {
        width: 100px;
        height: 100px;
        left: 48px;
        top: 48px;
    }
}

@keyframes third_square {
    100% {
        width: 150px;
        height: 150px;
        left: 23px;
        top: 23px;
    }
}

@keyframes first_square_animate {
    0% {
        transform: perspective(100px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(100px) rotateX(-180deg) rotateY(0deg);
    }

    100% {
        transform: perspective(100px) rotateX(-180deg) rotateY(-180deg);
    }
}

@keyframes second_square_animate {
    0% {
        transform: perspective(200px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(200px) rotateX(180deg) rotateY(0deg);
    }

    100% {
        transform: perspective(200px) rotateX(180deg) rotateY(180deg);
    }
}

@keyframes third_square_animate {
    0% {
        transform: perspective(300px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(300px) rotateX(-180deg) rotateY(0deg);
    }

    100% {
        transform: perspective(300px) rotateX(-180deg) rotateY(-180deg);
    }
}

