<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Freedom</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Rules" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Rules
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FAQs">
                <span class="oi oi-question-mark" aria-hidden="true"></span> FAQs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Technology">
                <span class="oi oi-terminal" aria-hidden="true"></span> Technology
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Management">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Management
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
